# Ignore folders
images/
helpers/

# Ignore dist and build subfolders inside the code folder
code/dist/
code/build/

# Ignore settings.json, will be created by the user
settings.json

# Ignore files by pattern
*.png
*.tmp
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Build / distribution
build/
dist/
*.spec
version_info.txt

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/